:root {
  --boxDimension: calc(20vw + 10vh);
  --imgBoxWhoLrOffset: calc(50vw - var(--boxDimension) / 2);
  --imgBoxSideLrOffset: calc(30vw - var(--boxDimension));
  --imgBoxWhoTbOffset: calc(50vh - var(--boxDimension) / 1.2);
  --imgBoxTbOffset: calc(50vh - var(--boxDimension) / 1.2);
  --bgColor: #FFFFFF;
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --imgBoxWhoLrOffset: calc(70vw - var(--boxDimension) / 2);
    --imgBoxSideLrOffset: calc(70vw - var(--boxDimension) / 2);
    --imgBoxWhoTbOffset: calc(20vh - var(--boxDimension) / 2);
    --imgBoxTbOffset: calc(50vh - var(--boxDimension) / 2);
  }
}

@font-face {
  font-family: "BlurMedium";
  src: url("../fontfaces/Blur_Medium.ttf");
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #050810;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-box-text {
  position: absolute;
}

.svgArrow {
  stroke-width: 1%;
  stroke: #BE5F4B;
  fill: transparent;

  height: 100%;
  width: 100%;
  position: absolute;
}

.svgArrow.svgArrowWho {
  margin-top: -58%;
  margin-left: -5%;
}

.svgArrow.svgArrowWhen {
  margin-top: -27%;
  margin-left: 20%;
}

.svgArrow.svgArrowWhere {
  margin-top: -15%;
  margin-left: -10%;
}

div#main section {
  height: 100vh;
  width: 100vw;
}

div#main section#top-graphic {
  background-color: var(--bgColor);
}


div#main section#top-graphic div.img-box {
  font-family: 'BlurMedium', sans-serif;
  font-size: calc(var(--boxDimension) / 5);
  color: red;
  width: var(--boxDimension);
  height: var(--boxDimension);
  position: absolute;
  border: calc(var(--boxDimension) / 30) solid #000000;
  background-color: #000000;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div#main section#top-graphic div.who {
  background-image: url("../images/alvin-and-anita3.png");
  left: var(--imgBoxWhoLrOffset);
  top: var(--imgBoxWhoTbOffset);
}

div#main section#top-graphic div.where {
  background-image: url("../images/IMG-03362.jpg");
  bottom: var(--imgBoxWhoTbOffset);
  left: var(--imgBoxSideLrOffset);
}

div#main section#top-graphic div.when {
  background-image: url("../images/129031492-august-2020-calendar-leaf-illustration-vector-graphic-page.jpg");
  bottom: var(--imgBoxTbOffset);
  right: var(--imgBoxSideLrOffset);
}
