body {
  color: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: dotted underline;
}

h1 {
  --minFontSize: 30px;
  --maxFontSize: 120px;
  --scaler: 2vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

section > div {
  box-sizing: border-box;
  padding: 20px;
}

div#landing-header {
  padding: 0 !important;
}

div#landing-header h1 {
  --minFontSize: 32px;
  --maxFontSize: 200px;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  filter: drop-shadow(.02em .02em #FFFFFF);
  margin: 0;
  position: absolute;
  text-align: right;
}

#landing-header nav ul {
  font-weight: 600;
  line-height: 150%;
  list-style: none;
  --minFontSize: 20px;
  --maxFontSize: 120px;
  --scaler: 2vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

@media (min-width: 800px) {
  div#landing-header {
    min-height: 100vh;
    z-index: 1;
    font-size:100px;
  }

  #landing-header nav a {
    filter: drop-shadow(.05em .05em #FFFFFF);
  }

  div.full-vp-bg-image {
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  div.full-vp-bg-image img {
    height: 100%;
    object-fit: cover;
    object-position: center top;
    width: 100%;
  }

  div#landing-header h1 {
    max-width: 50vw;
    right: 3vw;
    --scaler: 8vw;
    top: 2vh;
  }
}

@media (max-width: 799px) {
  #landing-header nav {
    position: absolute;
  }

  div.full-vp-bg-image {
    box-sizing: border-box;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  div.full-vp-bg-image img {
    object-fit: cover;
    object-position: center top;
    width: 100%;
  }

  div#landing-header h1 {
    right: 10px;
    top: 20px;
    position: absolute;
    --scaler: 6vw;
  }
}
